# Python bytecode
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Build / packaging
build/
dist/
*.egg-info/

# Logs / misc
*.log

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/



data_entered/
tempCodeRunnerFile.py
test.py
test.txt
res2.py
quality_control_maker.py
mqtt_payloads.json